.DS_Store
cache/
frontend/src/contracts
frontend/build/*
node_modules/*
node_modules
out/

# Ignore Environment Variables!
.env
.env.prod

# Ignore dumb vscode logs
.vscode/*.log

# Ignore flattened files
flattened.txt
